<!-- views/login.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Cybercafe Visitor Management System</title>
  <style>
    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-align: center;
      margin: 20px;
      background-color: #000040; /* Set light background color */
      color: #333; /* Set text color to dark gray */
    }

    h2 {
      color: #349be0; /* Set heading color to a blue shade */
    }

    form {
      max-width: 300px;
      margin: 0 auto;
      background-color: #010589; /* Set form background color to white */
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    }

    label {
      display: block;
      margin-bottom: 8px;
      color: #4ca9e6; /* Set label color to a blue shade */
    }

    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 16px;
      box-sizing: border-box;
      border: 1px solid #00052d; /* Add a light gray border */
      border-radius: 4px;
    }

    button {
      background-color: #3da2e5;
      color: #00073f;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  </style>
</head>

<body>
  <div class="login-container">
    <h2>Login to Cybercafe Visitor Management System</h2>
    <form action="/login" method="post" id="loginForm">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
      <br>
      <div class="password-container">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <span class="password-toggle" onclick="togglePasswordVisibility()">👁️</span>
      </div>
      <br>
      <button type="submit">Login</button>
    </form>
  </div>

  <script>
    function togglePasswordVisibility() {
      const passwordInput = document.getElementById('password');
      const passwordToggle = document.querySelector('.password-toggle');

      if (passwordInput.type === 'password') {
        passwordInput.type = 'text';
        passwordToggle.textContent = '👁️';
      } else {
        passwordInput.type = 'password';
        passwordToggle.textContent = '👁️';
      }
    }
  </script>
</body>

</html>
